.tipoDeAlojamiento {
  height: 200px;
  width: 200px;
  border-radius: 80%; }

.noImagen {
  background: none !important;
  padding: 0px !important; }

.busqueda {
  text-align: center;
  /*box modeling*/
  width: 100%;
  float: left;
  border-radius: 5px;
  height: fit-content;
  padding: 20px;
  background-color: #FFEFE7; }

#registro {
  padding-top: 100px; }

.container.registro {
  text-align: center; }

.casillero {
  max-width: 400px;
  margin: auto; }

.timeline .timeline-image {
  width: 170px !important;
  height: 170px !important;
  text-align: center;
  border-color: #FFEFE7;
  background-color: #ffc800; }
